@use 'src/styles/vars';

.header {
  display: flex;
  padding: vars.$smallGutter;
  font-size: vars.$largeFont;
  color: vars.$secondaryColor;
  background-color: vars.$primaryColor;
  height: 3.5rem;
}